/* Coloque aqui seu codigo CSS */
/* Coloque aqui seu codigo CSS */


.textobranco {
    color: #ffff;
}

.corVerde {
    color: green;
}

.corVermelha {
    color: red;
}

.corAmarela {
    color: yellow;
}

.corAzul {
    color: blue;
}