/* Coloque aqui seu codigo CSS */


.textobranco {
    color: #ffff;
}

.textoblack {
    color: #0a0a0a;
}

.corVerde {
    color: green;
}

.corVermelha {
    color: red;
}

.corAmarela {
    color: yellow;
}

.corAzul {
    color: blue;
}